<header class="navbar">
  <nav class="navbar-menu">
    <ul class="navbar-menu-list">
      <li class="navbar-menu-list-item">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Task List</a
        >
      </li>
      <li class="navbar-menu-list-item">
        <a
          routerLink="/add-task"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Add Task</a
        >
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
