.navbar {
    background-color: #f2f2f2;
    padding: 20px 40px;
    color: #000;
}

.navbar-menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-menu-list-item {
    margin: 0 10px;
    cursor: pointer;
}

.navbar-menu-list-item a {
    text-decoration: none;
    color: #000;
}